include social
include ../mixins/news
include ../mixins/link-arrow

.greet

	.container.greet__wrap
		.greet__i

			.greet__col.greet__col_right

				.greet__row.greet__link-outer

					each val in menu

						if val.name_for_main
							.greet__link-wrap
								a.link-line(href= val.link)= val.name_for_main

			.greet__col.greet__col_left

				.greet__row.greet__row_grow
					.greet__slider.greet__slider_home

						.greet__slider-wrap
							.greet__slider-item(
								data-title='Акции'
								data-greet-color='third'
							)

								- for (var i = 0; i < 2; i++) {
									.mb-15.mb-sm-30
										+news(news[1])(class='wrapper__news')
								- }

								.mb-30.text-center
									a.btn(href='stock.html') Смотреть все акции

							.greet__slider-item(
								data-title='Новости'
								data-greet-color='seventh'
							)

								- for (var i = 0; i < 3; i++) {
									.mb-15.mb-sm-30
										+news(news[0])(class='wrapper__news')
								- }

								.mb-30.text-center
									a.btn(href='news.html') Читать все новости

						.greet__slider-link-wrap
							.greet__slider-title.wrapper__text
							+link-arrow({
								dir: 'left'
							})(class='greet__slider-btn greet__slider-btn_left js-wrapper__set-color')
							+link-arrow()(class='greet__slider-btn greet__slider-btn_right js-wrapper__set-color')