include ../mixins/svg

mixin slider(data)
	.slider(
		class= attributes.class
		data-rows= attributes.dataRows || null
		data-cols= attributes.dataCols || null
		data-sm-rows= attributes.dataSmRows || null
		data-sm-cols= attributes.dataSmCols || null
		data-md-rows= attributes.dataMdRows || null
		data-md-cols= attributes.dataMdCols || null
		data-lg-rows= attributes.dataLgRows || null
		data-lg-cols= attributes.dataLgCols || null
		data-xl-rows= attributes.dataXlRows || null
		data-xl-cols= attributes.dataXlCols || null
	)

		.slider__header

			if data.title
				.title.title_sm.title_color_2.slider__title= data.title

			.slider__arrows-wrap
				button.slider__arrow.slider__arrow_prev
					+svg('arrow-right', 'slider__arrow-icon')
				button.slider__arrow.slider__arrow_next
					+svg('arrow-right', 'slider__arrow-icon')

		.slider__body

			each val, i in data.list
				.slider__item
					a.slider__link.fancybox(
						href= val
						data-fancybox='group-' + (data.title || '1')
						data-caption= data.title
					)
						.slider__img(
							style='background-image: url(' + val + ');'
							role='img'
							aria-label='img-' + (i + 1)
							title='img-' + (i + 1)
						)