include global

mixin banner(data)
	- data = data || {}

	+g-tag(data && data.link ? 'a' : '')(
		class='banner'
		class= attributes.class
		href= data.link
	)
		.banner__img(
			style= data && data.img ? 'background-image: url(' + data.img + ');' : ''
			role='img'
			aria-label='Image'
			title='Image'
		)