include ../components/date
include ../mixins/star
include ../mixins/svg
include ../mixins/tags
include ../mixins/params

mixin card(data)
	.card(class= attributes.class)

		a.card__img-wrap(href= data.link)
			.card__img(
				style='background-image: url(' + data.img + ');'
				role='img'
				aria-label= data.title
				title= data.title
			)

		.card__content-wrap

			.card__top
				.card__title-wrap
					a.link.link_line_none.title.title_sm.title_color_dark.card__title(href= data.link)= data.title
					.card__star-wrap
						+star

				if data.tel
					.card__tel-wrap
						a.link.link_line_none.link_icon_before(href='tel:' + data.tel.link)= data.tel.name
							+svg('tel', 'link__icon')

			.card__row.card__tags
				+tags(data.tags)


			if data.params
				.card__row
					+params(data.params)(class= data.params_sm ? 'params_sm' : '')

			if data.desc
				.card__row
					.card__text= data.desc

			.card__btn-wrap

				if data.btn_animator
					.card__btn
						a.btn.btn_wide.btn_sm.btn_fill(href='#') Пригласить аниматора

				if data.btn_profile
					.card__btn
						a.btn.btn_wide.btn_sm(href= data.link) Посмотреть профиль

		if data.date
			.card__date-wrap
				+date