include global
include svg

mixin news(data)

	+g-tag(data.link ? 'a' : '')(
		class= data.date ? 'news news_hidden-date' : 'news'
		class= attributes.class
		href= data.link
	)

		if data.img
			.news__img(
				style='background-image: url(' + data.img + ');'
				role='img'
				aria-label= data.imgDesc
				title= data.imgDesc
			)

		.news__wrap
			if data.icon
				+svg(data.icon, 'news__icon')

			h3.title.title_sm.title_color_2.news__title= data.title

			if data.date
				.news__date
					+svg('calendar', 'news__date-img')
					span.news__date-text= data.date

			.text.news__text!= data.text

		if attributes.class == 'news_arrow'
			.news__arrow
				+svg('arrow-down', 'news__arrow-icon')