mixin select(data, opts)
	.select(
		class= attributes.class
		class= opts && opts.bindSetter ? 'js-select-bind-setter' : ''
		class= opts && opts.bindGetter ? 'js-select-bind-getter' : ''
		data-getter= opts && opts.bindGetter || null
	)
		select.select__origin

			if opts && opts.title
				option(disabled selected)= opts.title

			each val in data
				option(value= val)= val