mixin select(data, opts)
	.select(
		class= attributes.class
		data-modal-title= opts && opts.modalTitle || null
		data-modal-btn= opts && opts.modalBtn || null
	)
		select.select__origin(
			multiple= attributes.class && ~attributes.class.indexOf('select_multiply') ? true : null
		)

			if opts && opts.title
				option(disabled selected)= opts.title

			each val in data
				option= val