include ../mixins/banner
include ../mixins/check
include ../mixins/select
include ../mixins/file-img
include ../mixins/cloud

.mb-30
	.block.tab

		.params-lg.params-lg_fixed-title.mb-10
			.params-lg__wrap

				.params-lg__row
					.params-lg__title
					.params-lg__value
						h2.title.title_md.wrapper__text.mb-10 Профиль аниматора

						.text-gray.mb-20
							| Дата обновления: 30.11.2017 06:44:28
							br
							| Последняя авторизация: 30.11.2017 06:44:33

						a.link-line.link-line_simple.wrapper__link-line.main__link-line.mb-10.tab__link.tab__link_active(href='#' data-tab-link='tab-1') Физическое лицо
						a.link-line.link-line_simple.wrapper__link-line.main__link-line.mb-10.tab__link(href='#' data-tab-link='tab-2') Юридическое лицо

		form
			.row

				.col-md-4.push-md-8.col-xl-4.push-xl-8.main__vertical_between.mb-20
					+banner({
						img: 'img/content/card/01.jpg',
						fancybox: true,
						title: 'Фотография аниматора'
					})(class='main__flex-banner mb-20')

					input.btn.btn_sm.btn_wide.btn_light(type='button' value='Загрузить фотографию')

				.col-md-8.pull-md-4.col-xl-8.pull-xl-4.mb-20
					.params-lg.params-lg_fixed-title
						.params-lg__wrap

							.params-lg__row
								.params-lg__title.tab__target(
									data-tab-target='[{"target": "tab-1", "text": "Имя"}, {"target": "tab-2", "text": "Название организации"}]'
								)
								.params-lg__value
									input.input.tab__target(
										type='text'
										data-tab-target='[{"target": "tab-1", "attrs": {"placeholder": "Иван"}}, {"target": "tab-2", "attrs": {"placeholder": "Введите название организации"}}]'
									)

							.params-lg__row
								.params-lg__title.tab__target(
									data-tab-target='[{"target": "tab-1", "text": "Фамилия"}, {"target": "tab-2", "text": "Юридический адрес"}]'
								)
								.params-lg__value
									input.input.tab__target(
										type='text'
										data-tab-target='[{"target": "tab-1", "attrs": {"placeholder": "Иванов"}}, {"target": "tab-2", "attrs": {"placeholder": "Введите юридический адрес"}}]'
									)

							.params-lg__row
								.params-lg__title Телефон
								.params-lg__value
									input.input.input_tel(type='tel' placeholder='+7 (___) ___-__-__')

							.params-lg__row
								.params-lg__title Опыт
								.params-lg__value
									input.input(type='text' placeholder='3 года')

							.params-lg__row
								.params-lg__title Возраст
								.params-lg__value
									input.input.input_number(type='text' placeholder='28 лет')

			.params-lg.params-lg_fixed-title.mb-20
				.params-lg__wrap

					.params-lg__row.params-lg__row_valign_baseline.params-lg__row_space_half
						.params-lg__title Сфера деятельности
						.params-lg__value
							.row

								each val, i in check_2
									.col-sm-6.col-md-4.mb-10
										+check({
											id: 'profileCheck-1-' + i + 1,
											text: val
										})(class='wrapper__check')

					.params-lg__row
						.params-lg__title Стоимость работы
						.params-lg__value
							input.input.input_number(type='text' placeholder='Руб. / час')

					.params-lg__row
						.params-lg__title Возраст ребёнка
						.params-lg__value
							+select(select_4, {
								title: 'Выберите возраст ребёнка',
								modalTitle: 'Выберите возраст ребёнка',
								modalBtn: 'Применить'
							})(class='select_light select_wide select_multiply')

					.params-lg__row
						.params-lg__title Программы
						.params-lg__value
							+select(select_7, {
								title: 'Выберите программы',
								modalTitle: 'Выберите программы',
								modalBtn: 'Применить'
							})(class='select_light select_wide select_multiply')

					.params-lg__row
						.params-lg__title Образы
						.params-lg__value
							+select(select_6, {
								title: 'Выберите образы',
								modalTitle: 'Выберите образы',
								modalBtn: 'Применить'
							})(class='select_light select_wide select_multiply')

					.params-lg__row.params-lg__row_valign_baseline
						.params-lg__title О себе
						.params-lg__value
							textarea.input(placeholder='Введите описание...')

					.params-lg__row.params-lg__row_valign_top
						.params-lg__title Фото
						.params-lg__value
							.params-lg__row-i.file-group(data-count='16')
								.col-6.col-md-4.params-lg__col-i.file-group__item-wrap(class= !i ? 'file-group__item-wrap_visible' : '')
									+file-img({
										id: 'fileImageParamsLg1-' + (i + 1)
									})(class='file-group__item')

			.row
				.col-md-8
					.params-lg.params-lg_fixed-title
						.params-lg__wrap

							.params-lg__row
								.params-lg__title Район
								.params-lg__value
									+select(select_3, {
										title: 'Адмиралтейский',
										modalTitle: 'Выберите район',
										modalBtn: 'Применить'
									})(class='select_light select_wide select_multiply')

							.params-lg__row.params-lg__row_valign_baseline
								.params-lg__title Теги
								.params-lg__value
									+cloud

							.params-lg__row
								.params-lg__title
								.params-lg__value
									.row
										.col-sm-6.mb-20
											input.btn.btn_wide.btn_sm.btn_fill(type='submit' value='Сохранить')
										.col-sm-6.mb-20
											input.btn.btn_wide.btn_sm(type='reset' value='Отмена')