include ../components/social
include ../components/date
include ../components/slider
include ../components/pagination
include ../components/toggle
include ../mixins/star
include ../mixins/select
include ../mixins/select-modal
include ../mixins/news
include ../mixins/link-arrow
include ../mixins/logo
include ../mixins/tags
include ../mixins/card
include ../mixins/params
include ../mixins/banner
include ../mixins/list
include ../mixins/fancybox
include ../mixins/check
include ../mixins/radio
include ../mixins/file-img
include ../mixins/cloud
include ../mixins/file-avatar

.row.mb-30
	.col-2
		h2.title .title
	.col-2
		h2.title.title_sm .title.title_sm
	.col-2
		h2.title.title_md .title.title_md
	.col-3
		h2.title.title_lg .title.title_lg
	.col-3
		h2.title.title_color_1 .title.title_color_1
.row.mb-30
	.col-4
		h2.title.title_color_dark .title.title_color_dark
	.col-4.main__bg_black
		h2.title.title_color_white .title.title_color_white
.row.main__separator
	.col-4
		h2.title.title_bold .title.title_bold

.row.main__separator
	.col-6
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur cumque est in ipsa minima nobis nostrum nulla omnis, quaerat? Alias, autem eius explicabo incidunt ipsum magni officia quo rerum?
	.col-2

.row.mb-30
	.col-1
		a.link(href='#') .link
	.col-1
		span.link span.link
	.col-2
		a.link.link_line_none(href='#') .link.link_line_none
	.col-2
		a.link.link_nowrap(href='#') .link.link_nowrap
	.col-2
		a.link.link_color_1(href='#') .link.link_color_1

.row.main__separator
	.col-3
		a.link.link_icon_before(href='#')
			| .link.link_icon_before
			+svg('tel', 'link__icon')
	.col-3
		a.link.link_icon_after(href='#')
			| .link.link_icon_after
			+svg('tel', 'link__icon link__icon_after')
	.col-3
		span.link.link_icon_before
			| span.link.link_icon_before
			+svg('tel', 'link__icon')

.row.main__separator
	.col-4
		+link-arrow .link-arrow
	.col-4
		+link-arrow({
			dir: 'left'
		}) .link-arrow.link-arrow_left
	.col-4
		+link-arrow({
			disabled: true
		}) .link-arrow.link-arrow_disabled

.row.main__separator
	.col-12
		+pagination(10, 1)

.row.main__separator
	.col-3
		+list(list)
	.col-3
		+list(list)(class='list_sm')

.row.main__separator
	.col-5
		a.link-line(href='#') .link-line
	.col-7
		a.link-line.link-line_simple(href='#') .link-line.link-line_simple

.row.main__separator
	.col-2
		.btn .btn
	.col-2
		a.btn(href='#') a.btn
	.col-2
		input.btn(type='button' value='input.btn')
	.col-2
		button.btn button.btn
	.col-2
		.btn.btn_sm .btn.btn_sm
	.col-2
		.btn.btn_lg .btn.btn_lg

.row.main__separator
	.col-2
		.btn.btn_light .btn_light
	.col-2
		.btn.btn_fill .btn.btn_fill
	.col-3
		.btn.btn_wide .btn.btn_wide
	.col-3
		.btn.btn_icon
			span.btn__text .btn.btn_icon
			+svg('arrow-right', 'btn__icon')
	.col-2
		.btn.btn_icon_only
			+svg('arrow-right', 'btn__icon')

.row.mb-30
	.col-3
		+select(select)
	.col-3
		+select(select)(class='select_wide')
	.col-3
		+select(select)(class='select_light')
	.col-3
		+select(select)(class='select_simple')
.row.main__separator
	.col-3
		+select(select, {
			title: 'Заголовок селекта'
		})

.row.mb-30
	.col-3
		+select-modal(select_3, {
			title: 'Выбрать героев',
			modalTitle: 'Выберите героев',
			modalBtn: 'Применить'
		})
	.col-3
		+select-modal(select_4, {
			title: 'Выбрать героев',
			modalTitle: 'Выберите героев',
			modalBtn: 'Применить'
		})(class='select-modal_wide')
	.col-3
		+select-modal(select_5, {
			title: 'Выбрать героев',
			modalTitle: 'Выберите героев',
			modalBtn: 'Применить'
		})(class='select-modal_light')
	.col-3
		+select-modal(select_6, {
			title: 'Выбрать героев',
			modalTitle: 'Выберите героев',
			modalBtn: 'Применить'
		})(class='select-modal_simple')
.row.main__separator
	.col-3
		+select-modal(select_7, {
			title: 'Выбрать героев',
			modalTitle: 'Выберите героев',
			modalBtn: 'Применить',
			hiddenInputs: true
		})

.row.main__separator
	.col-3.mb-30
		input.input(type='text' placeholder='.input')
	.col-3.mb-30
		input.input.input_tel(type='tel' placeholder='.input.input_tel')
	.col-3.mb-30
		input.input.input_number(type='text' placeholder='.input.input_number')
	.col-3.mb-30
		textarea.input(placeholder='textarea.input')
	.col-3
		input.input.input_error(type='text' placeholder='.input.input_error')

.row.main__separator
	.col-2
		button.btn-close
	.col-2.main__bg_black
		button.btn-close.btn-close_light
	.col-2.main__bg_black
		button.btn-close.btn-close_fill

.row.main__separator
	.col-4
		+cloud(cloud)

.row.main__separator
	.col-2
		+file-img({
			id: 'fileImageTest1'
		})
	.col-2
		+file-img({
			id: 'fileImageTest2'
		})(class='file-img_contain')

.row.main__separator
	.col-12.mb-30
		.row.file-group
			.col-3.mb-30.file-group__item-wrap.file-group__item-wrap_visible
				+file-img({
					id: 'fileGroupTest1'
				})(class='file-group__item')
	.col-12
		.row.file-group(data-count='3')
			.col-3.mb-30.file-group__item-wrap.file-group__item-wrap_visible
				+file-img({
					id: 'fileGroupTest2'
				})(class='file-group__item')

.row.main__separator
	.col-3
		+file-avatar({
			id: 'fileAvatarTestId',
			title: 'Фотография аниматора'
		})

.row.main__separator
	.col-3
		+tags({
			icon: 'tags',
			delimiter: ',',
			items: [
				{"name": "аниматор", "link": "#"},
				{"name": "фотограф", "link": "#"},
				{"name": "актёр", "link": "#"}
			]
		})
	.col-3
		+tags({
			icon: 'tags',
			delimiter: ',',
			items: [
				'аниматор',
				'фотограф',
				'актёр'
			]
		})
	.col-3
		+tags({
			icon: 'tags',
			delimiter: ',',
			items: [
				{"name": "аниматор", "link": "#"},
				{"name": "фотограф", "link": "#"},
				{"name": "актёр", "link": "#"}
			]
		})(class='tags_sm wrapper__tags')
	.col-3
		+tags({
			icon: 'tags',
			delimiter: ',',
			items: [
				{"name": "аниматор", "link": "#"},
				{"name": "фотограф", "link": "#"},
				{"name": "актёр", "link": "#"}
			]
		})(class='tags_color_gray wrapper__tags')

.row.main__separator
	.col-2.mb-15
		+check({
			id: 'check-1',
			text: '.check'
		})
	.col-3.mb-15
		+check({
			id: 'check-2',
			text: '.check.check_thin'
		})(class='check_thin')
	.col-3.mb-15
		+check({
			id: 'check-3',
			text: '.check.check_sm'
		})(class='check_sm')
	.col-3.mb-15
		+check({
			id: 'check-4',
			text: '.check.check_color_dark'
		})(class='check_color_dark')
	.col-3.mb-15
		+check({
			id: 'check-5',
			text: '.check.check_fat'
		})(class='check_fat')

.row.main__separator
	.col-2
		+radio({
			name: 'radio-group-1',
			items: [
				{text: '.radio'},
				{text: '.radio'},
				{text: '.radio'}
			]
		})
	.col-3
		+radio({
			name: 'radio-group-2',
			items: [
				{text: '.radio.radio_can-uncheck'},
				{text: '.radio.radio_can-uncheck'},
				{text: '.radio.radio_can-uncheck'}
			]
		})(class='radio_can-uncheck')
	.col-3
		+radio({
			name: 'radio-group-3',
			items: [
				{text: '.radio.radio_sm'},
				{text: '.radio.radio_sm'},
				{text: '.radio.radio_sm'}
			]
		})(class='radio_sm')
	.col-3
		+radio({
			name: 'radio-group-4',
			items: [
				{text: '.radio.radio_fat'},
				{text: '.radio.radio_fat'}
			]
		})(class='radio_fat')

.row.main__separator
	.col-1
		+star
	.col-1
		+star(999)
	.col-1
		+star(href='favourites.html')

.row.main__separator
	.col-2
		+social(social)

.row.main__separator
	.col-3
		+params(params)
	.col-3
		+params(params)(class='params_sm')

.row.main__separator
	.col-6
		.params-lg
			.params-lg__wrap
				.params-lg__row
					.params-lg__title Заголовок
					.params-lg__value
						input.input(type='text' placeholder='Значение')
				.params-lg__row
					.params-lg__title Очень длинный заголовок
					.params-lg__value
						input.input(type='text' placeholder='Значение')
				.params-lg__row
					.params-lg__title Заголовок
					.params-lg__value
						textarea.input(placeholder='Значение')
				.params-lg__row.params-lg__row_valign_baseline
					.params-lg__title Заголовок
					.params-lg__value
						textarea.input(placeholder='Значение')
	.col-6
		.params-lg.params-lg_fixed-title
			.params-lg__wrap
				.params-lg__row
					.params-lg__title Заголовок
					.params-lg__value
						input.input(type='text' placeholder='Значение')
				.params-lg__row
					.params-lg__title Очень длинный заголовок
					.params-lg__value
						input.input(type='text' placeholder='Значение')
				.params-lg__row
					.params-lg__title Заголовок
					.params-lg__value
						textarea.input(placeholder='Значение')
				.params-lg__row.params-lg__row_valign_baseline
					.params-lg__title Заголовок
					.params-lg__value
						textarea.input(placeholder='Значение')

.row.main__separator
	.col
		+date

.row.main__separator
	.col-3
		a.link(href='#' data-modal='modalInviteAnimator') .modal

.row.mb-30
	.col-10.offset-sm-1
		+news(news[0])

.row.main__separator
	.col-10.offset-sm-1
		+news(news[0])(class='news_arrow')

.row.main__separator
	.col-10.mb-30
		+card(card[0])
	.col-10.mb-30
		+card(card[1])
	.col-10.mb-30
		+card(card[4])
	.col-10.mb-30
		+card(card[2])(class='card_space_sm')
	.col-10.mb-30
		+card(card[0])(class='card_img_md')
	.col-10.mb-30
		+card(card[0])(class='card_img_sm')
	.col-10.mb-30
		+card(card[9])
	.col-10.mb-30
		+card(card[10])(class='card_space_sm')
	.col-10.mb-30
		+card(card[10])
	.col-4.mb-30
		+card(card[11])(class='card_vertical')

.row.main__separator
	.col-6
		+logo()
	.col-6
		+logo({
			link: false
		})

.row.main__separator
	.col-3
		+fancybox({
			link: 'img/content/slider/01.jpg',
			title: 'Img 1',
			group: 'group-1'
		})
	.col-3
		+fancybox({
			link: 'img/content/slider/01.jpg',
			title: 'Img 2',
			group: 'group-2',
			bg: true
		})

.row.mb-30
	.col-3
		+banner
	.col-3
		+banner({
			img: 'img/content/news/01.jpg'
		})
	.col-3
		+banner({
			link: '#',
			img: 'img/content/news/01.jpg'
		})
	.col-3
		+banner({
			img: 'img/content/news/01.jpg'
		})(class='banner_wide')

.row.main__separator
	.col-3
		+banner({
			link: '#',
			img: 'img/content/news/01.jpg'
		})(class='banner_fog')
	.col-3
		+banner({
			link: '#',
			img: 'img/content/news/01.jpg',
			text: 'Предложения по работе'
		})
	.col-3
		+banner({
			img: 'img/content/news/01.jpg'
		})(class='banner_contain')
	.col-3
		+banner({
			img: 'img/content/news/01.jpg',
			fancybox: true,
			title: '.banner with fancybox'
		})

.row.mb-30
	.col-8.mb-30
		.block
			h2.title.title_sm.mb-10 .block
			.text
				p Микрохроматический интервал имеет шоу-бизнес. Гармоническое микророндо представляет собой звукосниматель. Громкостнoй прогрессийный период регрессийно заканчивает аккорд. Цикл вызывает целотоновый эффект "вау-вау".

	.col-8.mb-30
		.block.block_text
			h2.title.title_sm.mb-10 .block.block_text
			.text
				p Микрохроматический интервал имеет шоу-бизнес. Гармоническое микророндо представляет собой звукосниматель. Громкостнoй прогрессийный период регрессийно заканчивает аккорд. Цикл вызывает целотоновый эффект "вау-вау".
	.col-8
		.block.block_lg
			.title.title_sm .block.block_lg
.row.main__separator
	.col-6.mb-30
		.block.block_height_full
			h2.title.title_sm.mb-10 .block.block_height_full
			.text
				p Микрохроматический интервал имеет шоу-бизнес. Гармоническое микророндо представляет собой звукосниматель. Громкостнoй прогрессийный период регрессийно заканчивает аккорд. Цикл вызывает целотоновый эффект "вау-вау".
				p Микрохроматический интервал имеет шоу-бизнес. Гармоническое микророндо представляет собой звукосниматель. Громкостнoй прогрессийный период регрессийно заканчивает аккорд. Цикл вызывает целотоновый эффект "вау-вау".
	.col-6.mb-30
		.block.block_height_full
			h2.title.title_sm.mb-10 .block.block_height_full
			.text
				p Микрохроматический интервал имеет шоу-бизнес. Гармоническое микророндо представляет собой звукосниматель. Громкостнoй прогрессийный период регрессийно заканчивает аккорд. Цикл вызывает целотоновый эффект "вау-вау".

.row.main__separator
	.col-sm-6.mb-30
		+slider({
			title: '.slider',
			list: g_img_list
		})
	.col-sm-6.mb-30
		+slider({
			title: '.slider.slider_narrow',
			list: g_img_list
		})(class='slider_narrow')
	.col-sm-6.mb-30
		+slider({
			list: g_img_list
		})(class='slider_arrows_inner')
	.col-sm-6.mb-30
		+slider({
			title: '.slider[data-rows=2]',
			list: g_img_list
		})(dataRows='2')
	.col-sm-6.mb-30
		+slider({
			title: '.slider[data-cols=2]',
			list: g_img_list
		})(dataCols='2')
	.col-sm-6.mb-30
		+slider({
			title: '.slider[data-sm-cols=2&data-lg-cols=3]',
			list: g_img_list
		})(dataSmCols='2' dataLgCols='3')

.row.main__separator
	.col-12
		.tab
			.row
				.col-2
					.tab__link.tab__link_active(data-tab-link='testTab-1') .tab__link 1
				.col-2
					.tab__link(data-tab-link='testTab-2') .tab__link 2
			.row
				.col-12
					.tab__target(
						data-tab-target='[{"target": "testTab-1", "text": "Имя"}, {"target": "testTab-2", "text": "Название организации"}]'
					)

.row.main__separator
	.col-12
		+toggle

.row.main__separator
	.col-4
		.tab-slide
			.tab-slide__item(data-tab-slide-target='tabSlide1')
				a.tab-slide__link(href='#' data-tab-slide-link='tabSlide2') .tab-slide LinkTo2
				a.tab-slide__link(href='#' data-tab-slide-link='tabSlide3') .tab-slide LinkTo3
			.tab-slide__item.tab-slide__item_hidden(data-tab-slide-target='tabSlide2')
				a.tab-slide__link(href='#' data-tab-slide-link='tabSlide1') .tab-slide LinkTo1
				a.tab-slide__link(href='#' data-tab-slide-link='tabSlide3') .tab-slide LinkTo3
			.tab-slide__item.tab-slide__item_hidden(data-tab-slide-target='tabSlide3')
				a.tab-slide__link(href='#' data-tab-slide-link='tabSlide1') .tab-slide LinkTo1
				a.tab-slide__link(href='#' data-tab-slide-link='tabSlide2') .tab-slide LinkTo2

.row.main__separator
	.col-12

		.js-select-bind-data(
			data-setter='Санкт-Петербург'
			data-getter='getter1'
			data-items='{"key1": "MetroSpb1", "key2": "MetroSpb2", "key3": "MetroSpb3"}'
		)

		.js-select-bind-data(
			data-setter='Москва'
			data-getter='getter1'
			data-items='{"key1": "MetroMsc1", "key2": "MetroMsc2", "key3": "MetroMsc3"}'
		)

		.row
			.col-4
				+select(select, {
					bindSetter: true
				})
			.col-4
				+select(select_2, {
					title: '12345',
					bindGetter: 'getter1'
				})