include ../mixins/global

// ASIDE
aside.aside

	button.aside__close

	ul.aside__list
		li.aside__item

			a.aside__link(
				href= global[0].link_home
				class= global[0].link_home === page.link ? 'aside__link_active' : ''
			)
				+svg('list', 'aside__icon')
				span.aside__text Главная

		each val in menu

			if val.aside
				li.aside__item
					a.aside__link(
						href= val.link
						class='aside__link_color_' + val.aside
						class= val.link === page.link ? 'aside__link_active' : ''
					)
						+svg('list', 'aside__icon')
						span.aside__text= val.name_for_main || val.name