include ../mixins/star
include ../mixins/select
include ../mixins/svg
include ../mixins/logo
include ../mixins/bread
include ../mixins/check
include ../components/toggle

// HEADER
header.header.wrapper__header(
	class= page.isHome ? 'header_home' : ''
	class= page.tabs ? 'wrapper__header_with-tabs' : ''
	style= page.img ? 'background-image: url(' + page.img + ');' : null
	data-images= page.imgList ? page.imgList : null
)
	.container.header__wrap
		.header__row
			
			.header__col
				.header__logo-wrap
					+logo({
						link: !page.isHome
					})
				
			.header__col
				.header__btns-wrap
					.header__btns-col.header__btns-col_fixed
						+star(999)(href='favourites.html')
					.header__btns-col.header__btns-col_grow
						+select(select)(class='select_wide')
					.header__btns-col(class= !page.isHome ? 'header__toggle-wrap' : '')
						a.btn.btn_fill.btn_wide(href='#' data-modal='modalRegistration') Личный кабинет

						if !page.isHome
							+toggle(class='js-aside__toggle header__toggle')

	if page.img
		.header__bg-outer
			.container.header__bg-wrap
				.row.header__bg-row
					.col-md-10.offset-md-1.header__bg-col

						.header__offer-btn-top(data-wrapper-target='tab-2')
							a.btn.btn_fill.btn_lg.btn_icon(href='#' data-modal='modalPlacing')
								span.btn__text Заявка на размещение
								+svg('arrow-right', 'btn__icon')

						.header__offer-btn-top(data-wrapper-target='tab-4')
							a.btn.btn_fill.btn_lg.btn_icon(href='#' data-modal='modalPlacingService')
								span.btn__text Заявка на размещение услуги
								+svg('arrow-right', 'btn__icon')

						+bread(class='header__bread')

						if page.hasTitle
							h1.title.title_color_white.header__title(class= page.hasTitle !== 'small' ? 'title_lg title_bold' : '')= page.title

						if page.date
							.header__date-wrap
								span.link.link_line_none.link_icon_before.header__date= page.date
									+svg('calendar', 'link__icon')

						if page.offerBtn
							.header__offer-btn
								a.btn.btn_fill.btn_lg.btn_icon(href='#' data-modal= page.offerBtn.modal)
									span.btn__text= page.offerBtn.name
									+svg('arrow-right', 'btn__icon')

	if page.tabs
		.container
			.row
				.col-md-10.offset-md-1
					.wrapper__tab

						.wrapper__tab-header

							button.wrapper__tab-btn.js-wrapper__set-color(
								data-wrapper-link='tab-1'
								data-color='fourth'
								data-onload='animator'
							) Аниматоры

							button.wrapper__tab-btn.js-wrapper__set-color(
								data-wrapper-link='tab-2'
								data-color='fifth'
								data-onload='photographer'
							) Фотографы

							button.wrapper__tab-btn.js-wrapper__set-color(
								data-wrapper-link='tab-3'
								data-color='sixth'
								data-onload='area'
							) Площадки

							button.wrapper__tab-btn.js-wrapper__set-color(
								data-wrapper-link='tab-4'
								data-color='eighth'
								data-onload='service'
							) Услуги

						.wrapper__tab-body
							.wrapper__tab-panel(data-wrapper-target='tab-1')
								form.wrapper__tab-row

									.wrapper__tab-col.wrapper__tab-col_left
										.wrapper__tab-item-wrap

											.wrapper__tab-item
												.wrapper__tab-title Возраст ребёнка
												+select(select_4, {
													title: 'Выбрать возраст'
												})(class='select_simple select_wide')

											.wrapper__tab-item
												.wrapper__tab-title Тип аниматора
												+select(select_5, {
													title: 'Выбрать тип'
												})(class='select_simple select_wide')

											.wrapper__tab-item
												.wrapper__tab-title Анимационные герои
												+select(select_6, {
													title: 'Выбрать героев',
													modalTitle: 'Анимационные герои',
													modalBtn: 'Применить'
												})(class='select_simple select_wide select_multiply')

											.wrapper__tab-item
												.wrapper__tab-title Программы
												+select(select_7, {
													title: 'Выбрать программы',
													modalTitle: 'Анимационные программы',
													modalBtn: 'Применить'
												})(class='select_simple select_wide select_multiply')

									.wrapper__tab-col.wrapper__tab-col_right
										button.btn.btn_fill.btn_lg.btn_icon.wrapper__btn.wrapper__tab-submit(type='submit')
											span.btn__text Применить
											+svg('arrow-right', 'btn__icon')

							.wrapper__tab-panel(data-wrapper-target='tab-2')
								form.wrapper__tab-row

									.wrapper__tab-col.wrapper__tab-col_left
										.wrapper__tab-item-wrap

											.wrapper__tab-item
												.wrapper__tab-title Район города
												+select(select_3, {
													title: 'Выбрать район'
												})(class='select_simple select_wide')

											.wrapper__tab-item
												.wrapper__tab-title Вид фотосъёмки
												+select(select_8, {
													title: 'Выбрать'
												})(class='select_simple select_wide')

											.wrapper__tab-item
												.wrapper__tab-title Тип фотоальбома
												+select(select_9, {
													title: 'Выбрать'
												})(class='select_simple select_wide')

									.wrapper__tab-col.wrapper__tab-col_right
										button.btn.btn_fill.btn_lg.btn_icon.wrapper__btn.wrapper__tab-submit(type='submit')
											span.btn__text Применить
											+svg('arrow-right', 'btn__icon')

							.wrapper__tab-panel(data-wrapper-target='tab-3')
								form.wrapper__tab-row

									.wrapper__tab-col.wrapper__tab-col_left
										.wrapper__tab-item-wrap

											.wrapper__tab-item
												.wrapper__tab-title Анимационные программы
												+select(select_7, {
													title: 'Выбрать программы',
													modalTitle: 'Анимационные программы',
													modalBtn: 'Применить'
												})(class='select_simple select_wide select_multiply')

											.wrapper__tab-item
												.wrapper__tab-title Станция метро
												+select(select_10, {
													title: 'Выбрать станцию метро'
												})(class='select_simple select_wide')

									.wrapper__tab-col.wrapper__tab-col_right
										button.btn.btn_fill.btn_lg.btn_icon.wrapper__btn.wrapper__tab-submit(type='submit')
											span.btn__text Применить
											+svg('arrow-right', 'btn__icon')

							.wrapper__tab-panel(data-wrapper-target='tab-4')
								form.wrapper__tab-row

									.wrapper__tab-col.wrapper__tab-col_left.wrapper__tab-col_with-checkbox
										.wrapper__tab-item-wrap

											each val, i in check
												.wrapper__tab-item
													+check({
														id: 'tabServiceCheck-' + (i + 1),
														text: val
													})(class='check_thin check_sm check_color_dark wrapper__check')

									.wrapper__tab-col.wrapper__tab-col_right
										button.btn.btn_fill.btn_lg.btn_icon.wrapper__btn.wrapper__tab-submit(type='submit')
											span.btn__text Применить
											+svg('arrow-right', 'btn__icon')
